html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    color: #fefefe;
    overflow: hidden;
    background-image: url('assets/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.game-object {
    position: absolute;
}

.player {
    width: 120px;
    height: auto;
    outline: white solid 1px;
}

.bullet {
    width: 20px;
    height: auto;
    outline: greenyellow solid 1px;
}