html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    color: #fefefe;
    overflow: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

#player {
    width: 120px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-25%);
    outline: #fefefe solid 1px;
}