html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
    color: #fefefe;
    overflow: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.game-object {
    position: absolute;
}

.player {
    width: 120px;
    height: auto;
    left: 50%;
    bottom: 10%;
    outline: #fefefe solid 1px;
}

.bullet {
    width: 20px;
    outline: greenyellow solid 1px;
}